.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
    position: relative;
    padding: 0.5rem 0;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 20px;
    width: 20px;
    min-width: 20px;
    background-color: white;
    border: 2px solid hsl(var(--neutral-300));
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.container:hover .input:not(:disabled)~.checkmark {
    border-color: hsl(var(--primary));
}

.container .input:checked~.checkmark {
    background-color: hsl(var(--primary));
    border-color: hsl(var(--primary));
}

.container .input:focus-visible~.checkmark {
    box-shadow: 0 0 0 3px hsl(var(--primary-100));
}

.icon {
    color: white;
    display: none;
}

.container .input:checked~.checkmark .icon {
    display: block;
}

.label {
    font-size: 14px;
    color: hsl(var(--neutral-700));
    line-height: 1.5;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled .checkmark {
    background-color: hsl(var(--neutral-100));
    border-color: hsl(var(--neutral-300));
}