.spinner {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: currentColor;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.sm {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.md {
  width: 24px;
  height: 24px;
  border-width: 3px;
}

.lg {
  width: 40px;
  height: 40px;
  border-width: 4px;
}

.xl {
  width: 64px;
  height: 64px;
  border-width: 5px;
}

.primary {
  color: var(--color-primary-900);
  border-color: var(--color-primary-100);
  border-left-color: var(--color-primary-900);
}

.white {
  color: white;
  border-color: rgba(255, 255, 255, 0.3);
  border-left-color: white;
}

.gray {
  color: var(--color-gray-500);
  border-color: var(--color-gray-200);
  border-left-color: var(--color-gray-500);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}