.container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.switch {
    position: relative;
    width: 48px;
    height: 24px;
    background-color: var(--color-gray-300);
    border-radius: 12px;
    transition: background-color var(--transition-slow);
    margin-right: var(--space-2);
}

.thumb {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.container .input:checked~.switch {
    background-color: var(--color-primary-500);
}

.container .input:checked~.switch .thumb {
    transform: translateX(24px);
}

.container .input:focus-visible~.switch {
    box-shadow: 0 0 0 3px var(--color-primary-200);
}

.label {
    font-family: var(--font-primary);
    font-size: 14px;
    color: var(--color-gray-900);
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled .switch {
    background-color: var(--color-gray-200);
}